cti {
  --width: 200px;
  --logo-width: calc(var(--width) * 0.6);
  --line-width: calc(var(--width) * 0.03);
  --code-height: calc(var(--width) * 0.26);
  --to-height: calc(var(--width) * 0.05);
  --impact-height: calc(var(--width) * 0.2);
  --code-container-height: calc(var(--code-height) - var(--line-width));
  --hyphen-width: var(--code-container-height);
  --transition: all 0.2s ease;
  background: linear-gradient(90deg, #ff66c4, #ffde59);
  width: var(--width);
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: calc(2 * var(--line-width));
  color: white;
  text-transform: uppercase;
}
cti > logo {
  width: var(--logo-width);
  margin-bottom: 0px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: var(--code-height) var(--to-height) var(--impact-height);
}
cti > logo > div {
  width: 100%;
}
cti > logo > .code {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: var(--code-container-height) calc(var(--logo-width) - 2 * var(--code-height)) var(--code-container-height);
  font-size: calc(var(--code-container-height) * 0.65);
}
cti > logo > .code > deco {
  transition: var(--transition);
}
cti > logo > .code > deco.left {
  height: var(--code-container-height);
  aspect-ratio: 1;
  box-shadow: calc(-1 * var(--line-width)) var(--line-width) 0px white;
}
cti > logo > .code > deco.right {
  height: var(--code-container-height);
  aspect-ratio: 1;
  box-shadow: var(--line-width) calc(-1 * var(--line-width)) 0px white;
}
cti > logo > .to {
  text-align: center;
  transform: translate(0px, var(--line-width));
}
cti > logo > .impact {
  width: 100%;
  height: var(--impact-height);
  font-size: calc(0.5 * var(--impact-height));
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
}
cti > logo > .impact > column {
  display: grid;
  align-items: center;
  grid-template-rows: 50% 50% 50%;
}
cti > logo > .impact > column {
  transition: var(--transition);
}
cti > logo > .impact > column > deco {
  height: var(--line-width);
  width: var(--hyphen-width);
  background-color: white;
}
cti > logo > .impact > column:first-child {
  text-align: left;
  justify-items: start;
}
cti > logo > .impact > column:last-child {
  text-align: right;
  justify-items: end;
  transform: translate(0px, calc(-0.5 * var(--impact-height)));
}
cti > footer {
  width: var(--logo-width);
  margin: 0px;
  margin-top: var(--line-width);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: var(--line-width);
  text-align: end;
}
cti > footer > * {
  margin: 0px;
  width: 100%;
  font-size: var(--line-width);
}

cti:hover .anim__rotate {
  transform: rotate(90deg) !important;
}
cti:hover .anim__slidedown {
  transform: translate(0px, calc(-0.5 * var(--impact-height))) !important;
}
cti:hover .anim__slidezero {
  transform: translate(0px, 0px) !important;
}/*# sourceMappingURL=style.css.map */